<!DOCTYPE html>
<html>
    {% include head.html %}

    <body data-spy="scroll" data-target="#navbar-scroll">

        {% include content.html %}

        <!-- /.footer -->
        {% include footer.html %}

        <!-- /.javascript files -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script>new WOW().init();</script>
    </body>
</html>
